*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
background-color: hwb(249 5% 74%);
}
.cuadrado{
    height: 150px;;
    width: 150px;
    background-color: black;
    border: dashed white 4px;
}
button{
    margin: 45px;
    border: dashed  #654bf7;

}
.rectangulo{
    width: 100px;
    height: 200px;
    padding: 60px;
    background-color:black;
    border: dashed  white 4px;
}
.rectangulo:hover{
    background-color: white;
}
.cuadrado:hover{
    background-color: white;
}
.circulo{
    border-radius:  100%;
    width: 100px;
    height: 100px;
    background-color: black;
    border: dashed white 4px;
}
.circulo:hover{
    background-color: white;
}


